/* hii */

* {
    font-family: monospace;
}

body {
    font-size: 18px;
}

.wrapper {
    min-height: 90vh;
}

/* i couldn't make footer to be at the bottom properly ;-; */
.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    color: darkgray;
}

.footer p {
    margin-bottom: 8px;
}

ul {
    padding: 0;
    list-style: none;
}

button {
    border: none;
}

button:hover {
    background-color: lavender;
}

div {
    text-align: center;
}

.main button {
    padding: 4px 8px;
}

.shops button {
    padding: 8px 16px;
}

.shops {
    font-size: 16px;
}

.shops ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shops li {
    min-height: 30%;
    max-width: 30%;
    min-width: 30%;
    padding: 0px;
    margin: 12px;
}

.description {
    font-style: italic;
}

.general_shop,
.pps_shop {
    width: 50%;
    margin: 0px;
}

.general_shop {
    float: left;
}

.pps_shop {
    float: right;
}
